@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    /* Light Mode (Default) */
    --color-background: rgb(245, 246, 250);
    --color-text: #1f2937;
    --color-primary: #14B8A6;
    --color-secondary: #14B8A6;
    --color-accent: #69BBFF;
    --color-accent-hover: #69BBFF;
  }

  /* Dark Mode */
  .dark {
    --color-background: #1e293b;
    --color-text: #e5e7eb;
    --color-primary: #14B8A6;
    --color-secondary: #14B8A6;
    --color-accent: #69BBFF; /* Lighter shade in dark mode */
    --color-accent-hover: #69BBFF; /* Swap hover and default */
  }

  body {
    background-color: var(--color-background);
    color: var(--color-text);
    transition: background-color 0.3s, color 0.3s;
    font-family: "Jost", serif;
  }
}
